<footer>
    <div class="row logo text-center">
        <div class="col-md-3 left">
            <h2>logo.</h2>
            <br>
            <h4>stay in touch</h4>
            <ul>
                <li><i class="fa fa-facebook-f"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </div>
        <div class="col-md-9 right">
            <div class="row">
                <div class="col-md-4 links">
                    <h5>Quick Links</h5>
                    <br>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Princing</a></li>
                        <li><a href="">Location</a></li>
                        <li><a href="">Office</a></li>
                    </ul>
                </div>
                <div class="col-md-4 hours">
                    <h5>Hours</h5>
                    <br>
                    <ul>
                        <li><a href="">Monday:</a></li>
                        <li><a href="">Tuseday:</a></li>
                        <li><a href="">Wednesday:</a></li>
                        <li><a href="">Thursday:</a></li>
                        <li><a href="">Friday:</a></li>
                    </ul>
                    <ul>
                        <li><a href="">9:00-18:00</a></li>
                        <li><a href="">9:00-18:00</a></li>
                        <li><a href="">9:00-18:00</a></li>
                        <li><a href="">9:00-18:00</a></li>
                        <li><a href="">9:00-18:00</a></li>
                    </ul>
                </div>
                <div class="col-md-4 contact">
                    <h5>Contact</h5>
                    <br>
                    <ul>
                        <li><i class="fa fa-phone"></i>&nbsp;000-000-000</li> <br>
                        <li><i class="fa fa-map-marker"></i>&nbsp;info@email.com</li> <br>
                        <li><i class="fa fa-envelope"></i>&nbsp;New York,US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>