<div class="row caro">
            
  <div class="col-md-12 caros">
  <h2 class="text-center">Our Princing</h2>
             
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Gold Package</h5> <br> <br>
                <p class="card-text">
                  Lorem ipsum dolor sit ament <br> consecterur adipscingelit,Aenean <br> nilsl nibh,segittisac fauciibusit
                </p>
                <br>
                <h3> $ 140 </h3>
                <br>
                <button class="btn">See Details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Platinum Paskage</h5> 
                <br> <br> <br> 
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur <br> adipiscing elit,Aenean nisl nibh,sagittis ac <br> fauciibusit vitae lacus.
                </p>
                <br> <br>
                <h3> $ 140 </h3>
                <br> <br> <br>
                <button class="btn">See Details</button> <br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Gold Package</h5> <br> <br>
                <p class="card-text">
                  Lorem ipsum dolor sit ament <br> consecterur adipscingelit,Aenean <br> nilsl nibh,segittisac fauciibusit
                </p>
                <br>
                <h3> $ 140 </h3>
                <br>
                <button class="btn">See Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Gold Package</h5> <br> <br>
                <p class="card-text">
                  Lorem ipsum dolor sit ament <br> consecterur adipscingelit,Aenean <br> nilsl nibh,segittisac fauciibusit
                </p>
                <br>
                <h3> $ 140 </h3>
                <br>
                <button class="btn">See Details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Platinum Paskage</h5> 
                <br> <br> <br> 
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur <br> adipiscing elit,Aenean nisl nibh,sagittis ac <br> fauciibusit vitae lacus.
                </p>
                <br> <br>
                <h3> $ 140 </h3>
                <br> <br> <br>
                <button class="btn">See Details</button> <br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Gold Package</h5> <br> <br>
                <p class="card-text">
                  Lorem ipsum dolor sit ament <br> consecterur adipscingelit,Aenean <br> nilsl nibh,segittisac fauciibusit
                </p>
                <br>
                <h3> $ 140 </h3>
                <br>
                <button class="btn">See Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Gold Package</h5> <br> <br>
                <p class="card-text">
                  Lorem ipsum dolor sit ament <br> consecterur adipscingelit,Aenean <br> nilsl nibh,segittisac fauciibusit
                </p>
                <br>
                <h3> $ 140 </h3>
                <br>
                <button class="btn">See Details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Platinum Paskage</h5> 
                <br> <br> <br> 
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur <br> adipiscing elit,Aenean nisl nibh,sagittis ac <br> fauciibusit vitae lacus.
                </p>
                <br> <br>
                <h3> $ 140 </h3>
                <br> <br> <br>
                <button class="btn">See Details</button> <br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm bg-white">
              <div class="card-body">
                <h5 class="card-title mt-3">Gold Package</h5> <br> <br>
                <p class="card-text">
                  Lorem ipsum dolor sit ament <br> consecterur adipscingelit,Aenean <br> nilsl nibh,segittisac fauciibusit
                </p>
                <br>
                <h3> $ 140 </h3>
                <br>
                <button class="btn">See Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>