<div class="row first-section">
    <div class="col col-md-5 text bigScr text-center">
        <h3>SOCIAL MEDIA</h3>
        <h1>FOR BUSINESS!</h1>
        <p>PERFORMANCE BASED SOCIAL MESIA AGENCY <br> WE ARE LOREM MEDIA</p>
        <button class="btn">GET A FREE AUDIT</button>
    </div>
    <div class="col-md-7 text-left text-center">
        <img src="assets/Images/Group%201423.svg" alt="">
    </div>
    <div class="col-md-5 text SmScr d-none text-center">
        <h3>SOCIAL MEDIA</h3>
        <h1>FOR BUSINESS!</h1>
        <p>PERFORMANCE BASED SOCIAL MESIA AGENCY <br> WE ARE LOREM MEDIA</p>
        <button class="btn">GET A FREE AUDIT</button>
    </div>
</div>

<div class="row second-section">
    <div class="col-md-6 text-center">
        <img src="assets\Images\Group 1538.svg" alt="">

    </div>
    <div class="col-md-6 text text-center">
        <h1>Who We Are</h1>
        <p class="text-left">
            Lorem Media is a full-service social media agency We offer <br>
            businesses innovative solutions that deliver thee right type of <br>
            audience to you in the most effective strategies possible.We strive <br>
            to develop a community around your business,polishing your <br>
            branding,and imporoving your public relations. <br>
            Social Media is now one of the most poerful marketing tools with <br>
            the ability to communication with a target audience in real time <br><br>
            it's 2019: time to sink or swim.
        </p>
        <button class="btn float-left">SEE MORE</button>
    </div>
    
</div>
<app-offer></app-offer>
<app-carousel></app-carousel>
<app-form></app-form>